/* Layout principal */
#sectionTodo {
  border-radius: 10px;
  display: flex;
}

/* Inputs & Buttons */
input,
button {
  border-radius: 10px;
  margin: 8px 0;
  padding: 16px;
  border: none;
}

input {
  background-color: rgb(240, 240, 240);
}

button {
  background-color: #363636;
  color: white;
  font-weight: 700;
}

/* Listes */
ul {
  padding: 0;
  width: 50%;
  list-style-type: none;
}

/* Tâche */
li {
  background-color: rgb(240, 240, 240);
  margin: 8px;
  padding: 14px;
  color: rgb(78, 78, 78);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tâche terminée */
.done {
  text-decoration: line-through;
  color: grey;
}

/* Toujours présent mais invisible */
.iconBtn {
  opacity: 0;
  margin-left: 8px;
  cursor: pointer;
  padding: 8px;
  transition: opacity 0.2s ease-in-out, background-color 0.2s;
  display: inline-flex;
  border-radius: 10px;
}

/* Survol du LI : semi-visible */
li:hover .iconBtn {
  opacity: 0.5;
}

/* Survol de l'icône : totalement visible */
li:hover .iconBtn:hover {
  opacity: 1;
  background-color: rgb(231, 231, 231);
}
