/* background */
body{
  background-color: #0e0e0e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #f0f0f0;
  margin: 32px;
}

/* Layout principal */
#sectionTodo {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#sectionTaskList {
  width: 60%;
}

#sectionDaily {
  width: 20%;
}

/* Inputs & Buttons */
input,
button {
  border-radius: 10px;
  margin: 8px 0;
  padding: 16px;
  border: none;
}

input {
  background-color: #141414;
  color: white;

  border: none;
  outline: none;
}





button {
  background-color: #4e4bec;
  color: #ffffff;
  font-weight: 700;
}

/* Listes */
ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Tâche */
li {
  background-color: #141414;
  padding: 10px 16px;
  color: #929292;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tâche terminée */
.check {
  text-decoration: line-through;
  color: grey;
}

/* Toujours présent mais invisible */
.iconBtn {
  opacity: 0;
  margin-left: 8px;
  cursor: pointer;
  padding: 8px;
  transition: opacity 0.2s ease-in-out, background-color 0.2s;
  display: inline-flex;
  border-radius: 10px;
}

/* Survol du LI : semi-visible */
li:hover .iconBtn {
  opacity: 0.5;
}

/* Survol de l'icône : totalement visible */
li:hover .iconBtn:hover {
  opacity: 1;
  background-color: #1b1b1b;
}



