/* Layout principal */
#sectionTodo {
  border-radius: 10px;
  display: flex;
  gap: 16px;
}

/* Inputs & Buttons */
input,
button {
  border-radius: 10px;
  margin: 8px 0;
  padding: 16px;
  border: none;
}

input {
  background-color: rgb(240, 240, 240);
}

button {
  background-color: rgb(54, 54, 54);
  color: white;
  font-weight: 700;
}

/* Listes */
ul {
  padding: 0;
  width: 50%;
  list-style-type: none;
}

/* Tâche */
li {
  background-color: rgb(240, 240, 240);
  margin: 8px;
  padding: 16px;
  color: rgb(78, 78, 78);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Tâche terminée */
.done {
  text-decoration: line-through;
  color: grey;
}

/* Bouton suppression */
.iconBtn {
  display: none;
  margin-left: 8px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

li:hover .iconBtn {
  display: inline-flex;
  opacity: 1;
}
